<!DOCTYPE html>
<html lang="sl">
<head>
  <meta charset="utf-8" />
  <title>Pesmomat</title>
<!--  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">-->
</head>
<body>
<div class="container">
  <h1 class="title">{{ title }}</h1>
  <p class="author-text">{{ author }}</p>

  <p> {{{ content }}} </p>
</div>
</body>
</html>

<style>
  .container {
      margin-top: 54px;
      margin-bottom: 54px;
      text-align: center;
      font-family: 'Open Sans', sans-serif;
      font-style: normal;
  }

  .title {
    margin-bottom: 0;
  }

  .author-text {
      margin-top: 8px;
      color: #373737
  }
</style>